.match-team-group-knock {
    width: 70vw;
    margin: 0 auto;
    background-color: rgb(88, 81, 81);
    min-height: 100vh;
    padding-top: 15px;
    align-items: center;
}
.match-team-group,
.match-team-knockout {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.match-box{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
}
@media screen and (min-width: 770px) and (max-width: 1200px){
    .match-team-group-knock {
        width: 90vw;
    }
}
@media screen and (max-width: 769px){
    .match-team-group-knock {
        width: 90vw;
    }
    .match-team-group,
    .match-team-knockout {
        display: grid;
        grid-template-columns: auto;
        gap: 5px;
    }
}
