.statistic {
    width: calc(100vw/1.5);
    margin: 0 auto;
    color: white;
}

.demo-title-tour {
    font-size: large;
    font-weight: bold;
}

.title-tour {
    border: 1px solid white;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(88, 81, 81);
}

.top-goal,
.top-assist,
.top-red,
.top-attend {
    border: 1px solid white;
    margin-bottom: 5px;
    background-color: rgb(88, 81, 81);
    padding: 5px;
}

.demo-top-goal,
.demo-top-assist,
.demo-top-red,
.demo-top-attend {
    font-size: large;
    font-weight: bold;
}
