.all-matches {
    width: calc(100vw/1.5);
    margin: 0 auto;
    background-color: #E3E2DF;
    /* margin-left: 10px; */
    padding: 5px 0px 20px 0px;
}

.date-match {
    color: #56042C;
    font-size: medium;
    font-weight: 600;
    margin: 25px 0px 10px 40px;
}

.about-day-match {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    width: calc(100vw/1.6);
    margin: 0 auto;
}
@media screen and (max-width: 769px) {
    .all-matches{
        width: calc(100vw/1.1);
    }
    .about-day-match {
        display: grid;
        grid-template-columns: auto;
        width: calc(100vw/1.2);        
    }
}
@media screen and (min-width: 770px) and (max-width: 1200px) {
    .all-matches{
        align-items: center;
        width: 100vw;
    }
    .about-day-match{
        width: 90vw;
        display: grid;
        grid-template-columns: auto auto;
    }
}
