.post-team{
    width: 55vw;
    height: 85vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 0 auto;
    background-color: gray;
    padding: 10px 20px;
}
.post-team-detail{
    width: 50vw;
}
